@if (allGames && allGames.length > 0) {
  <div ngbDropdown class="d-inline-block">
    <button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Select game</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      @for (game of allGames; track game) {
        <button ngbDropdownItem (click)="changeGame(game)">{{ game.name }}</button>
      }
    </div>
  </div>
  @if(selectedGame) {
    <button class="btn btn-secondary m-sm-2" (click)="showRules(content)">Read rules</button>
  }
}

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Game Rules</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <game-rules-display [game]="selectedGame"></game-rules-display>
  </div>
  <div class="modal-footer">&nbsp;</div>
</ng-template>

<hr />
