<div class="d-flex flex-column sidebar" style="width: 4.5rem;">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li>
      <a class="nav-link py-3 border-bottom rounded-0" routerLink="/welcome">
        Welcome
        <ng-icon name="bootstrapHouse" role="img"></ng-icon>
      </a>
    </li>
    <li class="nav-item">
      Play
      <a class="nav-link active py-3 border-bottom rounded-0" routerLink="/game">
        <ng-icon name="bootstrapCardChecklist" role="img"></ng-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active py-3 border-bottom rounded-0" routerLink="/game/stats">
        Stats
        <ng-icon name="bootstrapCardChecklist" role="img"></ng-icon>
      </a>
    </li>
    <li class="nav-item">
      Help
      <a class="nav-link active py-3 border-bottom rounded-0">
        <ng-icon name="bootstrapCardChecklist" role="img"></ng-icon>
      </a>
    </li>
  </ul>
</div>
