<div class="sidebar">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item" id="homeLink">
      <a class="nav-link py-3 border-bottom rounded-0" routerLink="/welcome" routerLinkActive="active" ngbTooltip="Home" placement="end">
        <ng-icon name="bootstrapHouse" role="img"></ng-icon>
      </a>
    </li>
    <li class="nav-item" id="playLink">
      <a class="nav-link py-3 border-bottom rounded-0" routerLink="/game" routerLinkActive="active" ngbTooltip="Play" placement="end">
        <ng-icon name="bootstrapCaretRightSquare" role="img"></ng-icon>
      </a>
    </li>
    <li class="nav-item" id="statsLink">
      <a class="nav-link py-3 border-bottom rounded-0" routerLink="/game/stats" routerLinkActive="active"  ngbTooltip="Stats" placement="end">
        <ng-icon name="bootstrapCardChecklist" role="img"></ng-icon>
      </a>
    </li>
  </ul>
</div>
