.row.w-100 {
  text-align: center;
}

.game-selectors {
  width: 65%;
  > div {
    text-align: center;
  }
}

.game-selectors {
  > .row:first-child {
    background-color: rgba(var(--bs-secondary-bg-rgb), .5);
  }
}

ng-icon {
  color: rgb(var(--bs-teal-rgb));
  fill: rgb(var(--bs-teal-rgb));
  height: 1.5rem;
  width: 1.5rem;
}

game-select-weapon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
