<div class="row w-100 pt-3 pb-3">
  <h1>
    Let's play, <b>{{ humanPlayer?.name }}</b
    >!
  </h1>
</div>
<div class="container-fluid game-selectors d-flex flex-column">
  <div class="pt-2 pb-2 d-flex justify-content-center">
    <div class="col-sm-6"><select-game (onGameSelect)="changeGame($event)"></select-game></div>
  </div>
  <div class="pt-2 pb-2 d-flex flex-wrap">
    <div class="col-sm-3">
      @if (selectedGame) {
        <p>Computer
          <br/>
          <ng-icon class="link-warning" name="bootstrapQuestionCircleFill" role="img"></ng-icon>
        </p>
      }
    </div>
    <div class="col-sm-6">
      @if(lastResult) {
        <game-result-display class="col-sm-12" [result]="lastResult"></game-result-display>
      }
    </div>
    <div class="col-sm-3">
      @if (selectedGame) {
        <p>Human
          <br/>
          <ng-icon class="link-warning" name="bootstrapQuestionCircleFill" role="img"></ng-icon>
        </p>
      }
    </div>
  </div>
  <div class="pt-2 pb-2 d-flex justify-content-center">
  @if (selectedGame) {
    <div class="col-sm-6 select-weapon">
      <game-select-weapon (onWeaponSelect)="playRound($event)" (onWeaponsLoaded)="setWeapons($event)" [selectedGame]="selectedGame"></game-select-weapon>
    </div>
  }
  </div>
</div>

<router-outlet></router-outlet>

