@if (player && (!player.name || player.name !== 'Human')) {
  <h1>Welcome, Human!</h1>
}
<div class="row pt-2">
  <h2>Please tell me your name</h2>

  <div class="d-flex justify-content-center">
    <div class="col-sm-2">
      <form [formGroup]="form" class="login-form">
        <div class="row pb-2 pt-5">
          <input type="text" placeholder="Player name" formControlName="name" />
        </div>
        <div class="row pb-2 pt-2">
          <button type="button" class="btn btn-primary" (click)="setName()" [disabled]="!form.valid">Play!</button>
        </div>
      </form>
    </div>
  </div>
</div>
